<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h2>Course</h2>
                <hr>
                {% for course in allCourseAvailable %}
                        <a href="{% url 'vizLP' %}?a=a">
                        <button type="button" class="btn btn-primary">{{ course }}</button>
                        </a>
                {% endfor %}

                {{ path }}
            </div>
            <div class="col">
                <h3>User Info</h3>
                <br>
                <br>
                <br>
                <h4>User Knowledge</h4>
                <ul>
                {% for knowledge in userKnowledge %}
                    <li>{{ knowledge }}</li>
                {% endfor %}
                </ul>
                <h4>Completed Course</h4>
                <ul>
                {% for course in userComplete %}
                    <li>{{ course }}</li>
                {% endfor %}
                </ul>
                <h4>Learning Style</h4>
                dropdown menu
                OK button
                <h4>Path Visaulization</h4>
                graph

            </div>
        </div>

    </div>




    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>